{% extends 'base.html.twig' %}

{#{% import '@Web/_macros/utils.html.twig' as utils %}#}
{#{% import '@Web/_macros/images.html.twig' as images %}#}
{#{% import '@Web/_macros/tables.html.twig' as tables %}#}
{#{% import '@Web/_macros/forms.html.twig' as forms %}#}

{% block title %}FeedbackUtil{% endblock %}

{% block stylesheets %}
{#    <link rel="stylesheet" href="{{ asset('bundles/web/vendor/jquery-ui/jquery-ui.css') }}">#}
{#    <link rel="stylesheet" href="{{ asset('bundles/web/vendor/jquery-ui/jquery-ui.theme.min.css') }}">#}
{#    <link rel="stylesheet" href="{{ asset('bundles/web/css/bootstrap-atrapalo.css') }}">#}
{#    <link rel="stylesheet" href="{{ asset('bundles/web/vendor/chosen/chosen.css') }}">#}
{#    <link rel="stylesheet" href="{{ asset('bundles/web/css/custom.css') }}">#}
{% endblock %}

{% block body %}
{#    {% include 'WebBundle::navbar.html.twig' %}#}

{#    <div class="container-fluid top60 bottom50">#}
{#        {% include 'WebBundle::flashbar.html.twig' %}#}
{#        {% block content %}{% endblock %}#}
{#    </div>#}
{% endblock %}

{% block javascripts %}
{#    <script src="{{ asset('bundles/web/vendor/jquery/jquery-1.2.4.js') }}"></script>#}
{#    <script src="{{ asset('bundles/web/vendor/jquery-ui/jquery-ui.min.js') }}"></script>#}
{#    <script src="{{ asset('bundles/web/vendor/bootstrap/js/bootstrap.js') }}"></script>#}
{#    <script src="{{ asset('bundles/web/vendor/chosen/chosen.jquery.js') }}"></script>#}
{#    <script src="{{ asset('bundles/web/js/navbar.js') }}"></script>#}
{#    {% block custom_javascripts %}{% endblock %}#}
{% endblock %}

